<div>
<input type="text" placeholder="username" [(ngModel)]="username">
<input type="text" placeholder="title" [(ngModel)]="title">
<button (click)="createTodo()">Add Todo</button>
</div>
<div>
    <h3>Todos</h3>
    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Username</th>
            <th></th>
        </tr>
        <tr *ngFor="let todo of todoList">
            <td>{{todo.id}}</td>
            <td>{{todo.title}}</td>
            <td><a [routerLink]="['/user/'+ todo.username]">{{todo.username}}</a> </td>
            <td><button (click)="removeTodo(todo.id)">Delete</button></td>
        </tr>
    </table>
</div>
